.btn-danger {
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ff0000;
}

.btn-danger:hover{
  color: #ffffff;
  background-color: #ff0000;
  border-color: #ffffff;
}

.btn-primary {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-primary:hover{
  background-color: #000000;
  border-color: #ffffff;
}

.btn-primary:focus{
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}


.btn-secondary {
  color: #000;
  background-color: #00000000;
  border-color: #000000;
}

.btn-secondary:hover{
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-secondary:focus{
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}


.btn-success {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
